body {
  background: rgb(0, 179, 255);
}

a {
  color: rgb(0, 179, 255);
}

.App-header {
  margin: 30px 0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-Footer {
  text-align: center;
  margin: 30px 0;
  color: white;
}
